body {
  font-size: 22px;
  font-family: "Roboto Slab";
  background-color: hsl(59 100% 89.1%);
  margin: 0;
  padding: 0;
}
.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
}
.company-logo h1 {
  font-size: 5.25rem;
}
.logo-image {
  max-width: 50%;
  height: auto;
  display: block;
}
.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: 100%;
}
.nav ul {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  list-style-type: none;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
}
.nav li {
  flex-shrink: 0;
  min-width: 0;
  min-width: 30%;
}
.mission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  background: url();
}
.mission h1 {
  font-size: 5.25rem;
}

.portfolio {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.portfolio-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5.25rem;
  width: 100%;
}
.portfolio-image {
  width: 400px;
  height: 400px;
}

#footer {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 1.65rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
#team-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5.25rem;
  width: 100%;
}
.team-container {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-image {
  width: 250px;
  height: 400px;
}
@media (max-width: 600px) {
  .portfolio h1 {
    font-size: 1.5rem;
  }
  .mission h1 {
    font-size: 1.5rem;
  }
  .company-logo h1 {
    font-size: 2rem;
  }
  .portfolio {
    flex-direction: column;
  }
  .portfolio-text {
    font-size: 1.5rem;
  }
  .portfolio-image {
    width: 75%;
  }
  #team-text {
    font-size: 1.5rem;
  }
  .team-container {
    flex-direction: column;
  }
}
